# Check http://docs.sqlalchemy.org/en/latest/core/engines.html for information on how to connect to a backend
# Example:
sqlalchemy_connection_string: "sqlite:///path_to_my_db.db"
sqlalchemy_connection_string_qa: "sqlite:///path_to_my_qa_db.db"